# ORG is the GitHub Organization to scane
ORG=...

# PAT is the Personal Access Token to use when checking repos
PAT=ghp_...

# ISSUE_TITLE is the title of issues to create for missing files
MISSING_ISSUE_TITLE=Missing pre-commit configuration

# the filename to scan in each repo
PRE_COMMIT_CONFIG_FILENAME=.pre-commit-config.yaml

# the filename of the issue template in the templates directory
OPEN_ISSUE_BODY_FILENAME=open-issue.j2

# the filename of the closing comment template in the templates directory
CLOSE_ISSUE_BODY_FILENAME=close-issue.j2

# the location of the templates used when creating issues
TEMPLATES_DIRECTORY=templates

# the level for which events are logged with lower numbers meaning
# more verbosity
#
# DEBUG: 10
# INFO: 20 (default)
# WARNING: 30
# ERROR: 40
# CRITICAL: 50
LOG_LEVEL = 20

# If DRY_RUN is false, perform read/write operations; otherwise
# only perform read-only operations
DRY_RUN = True

# The URL to the API; the default is the URL to GitHub.com's API
# (note the absence of a trailing '/')
API_URL = https://api.github.com

# How many seconds to delay between API calls
DELAY = 3.0

