# ORG is the GitHub Organization to scane
ORG=...

# PAT is the Personal Access Token to use when checking repos
PAT=ghp_...

# ISSUE_TITLE is the title of issues to create for missing files
MISSING_ISSUE_TITLE=Missing pre-commit configuration

# the filename to scan in each repo
PRE_COMMIT_CONFIG_FILENAME=.pre-commit-config.yaml

# the filename of the issue template in the templates directory
MISSING_ISSUE_BODY_FILENAME=sample-issue.j2

# the location of the templates used when creating issues
TEMPLATES_DIRECTORY=templates

# DRY_RUN must be set to "False" for the tool to actually create issues
DRY_RUN=True

# API_URL can be changed to support private GitHub Enteprise installations
API_URL=https://api.github.com
