# ORG is the GitHub Organization to scane
ORG=...

# PAT is the Personal Access Token to use when checking repos
PAT=ghp_...

# ISSUE_TITLE is the title of issues to create for missing files
MISSING_ISSUE_TITLE=Missing pre-commit configuration
