---
name: Publish

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - "master"
      - "main"
    tags:
      - "v*"
  workflow_dispatch:

permissions: read-all

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # pin@v3

      - name: Build and Publish Image
        uses: wesley-dean/publish_container@29c4aa0e90f677e7b0542c2366e69137e41aa0eb # pin@v1.0.14
        with:
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_token: ${{ secrets.DOCKERHUB_PAT }}
          ghcr_token: ${{ secrets.GHCR_PAT }}
          ghcr_username: ${{ secrets.GHUB_USERNAME }}
          github_ref: ${{ github.ref }}
          repository_name: ${{ github.event.repository.name }}
          platforms: linux/amd64,linux/arm/v7
